* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a.focus:link,
a.focus:visited {
    color: #e19221;
}

body {
    font-family: "rubikregular";
}

.underlay_header {
    height: 90px;
    width: 100%;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 90px;
    z-index: 9999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(128, 128, 128, 1);
}

.logo {
    display: flex;
    position: relative;
    height: 100%;
    padding: 20px;
    cursor: pointer;
}

.logo_text {
    align-self: center;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.caption {
    height: 15%;
    position: absolute;
    bottom: 7%;
    left: 25%;
    font-size: 11px;
}

.logo>figure {
    display: inline-block;
    width: 50px;
    height: 60px;
    text-align: center;
}

.logo>figure img {
    width: 80%;
    height: 80%;
}

.call-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rubikregular';
}

.call-action>span {
    color: gray;
}

.contact_numb {
    text-decoration: none;
    color: #e19221;
}

.call_to_button_1-2 {
    border-radius: 20px;
    border: none;
    padding: 8px;
    background-color: #e19221;
    color: white;
    font-family: 'rubikregular';
    -webkit-box-shadow: inset 0px 1px 2px 4px rgba(173, 112, 26, 1);
    -moz-box-shadow: inset 0px 1px 2px 4px rgba(173, 112, 26, 1);
    box-shadow: inset 0px 2px 1px 1px rgba(173, 112, 26, 1);
    cursor: pointer;
}

.nav-meni {
    width: 40%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-list li {
    padding: 10px;
}

.nav-list>li>a {
    text-decoration-line: none;
    color: black;
}

.nav-list>li>a:hover {
    color: #e19221;
}


/* Quotes (daily) */

.headings {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.headings h5 {
    margin-top: 30px;
    padding: 1vh;
    border-bottom: 0.05em solid #e19221;
    font-size: 2.7rem;
    letter-spacing: 0.05em;
}

.headings blockquote {
    font-size: 2vh;
    padding: 2vh;
}

.headings span {
    align-self: flex-end;
    font-size: 11px;
}

.page_header {
    color: black;
    text-align: center;
    width: min-content;
    margin: 40px auto;
    padding: 1vh;
    letter-spacing: 0.05em;
    font-size: 2.7rem;
    border-bottom: 0.05em solid #e19221;
}

footer {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: baseline;
    width: 100%;
    height: 100px;
    padding: 15px;
    z-index: 9999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer>span {
    justify-self: start;
    font-size: 0.6rem;
}

footer .logo {
    justify-self: center;
}

.social_media {
    justify-self: end;
    font-size: 30px;
}

.social_media a {
    color: #e19221;
    width: 100%;
    height: 100%;
}