* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "rubikregular";
}
.underlay_header{
    height: 90px;
    width: 100%;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 90px;
    z-index: 9999;
    background-color: white;
    box-shadow: 0px 3px 5px gray;
}

.logo {
    display: flex;
    position: relative;
    height: 100%;
    padding: 20px;
    cursor: pointer;
}

.logo_text {
    align-self: center;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.caption {
    height: 15%;
    position: absolute;
    bottom: 7%;
    left: 25%;
    font-size: 11px;
}

.logo>figure {
    display: inline-block;
    width: 50px;
    height: 60px;
    text-align: center;
}

.logo>figure img {
    width: 80%;
    height: 80%;
}

.call-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rubikregular';
}

.call-action>span {
    color: gray;
}

.contact_numb {
    text-decoration: none;
    color: rgb(183, 121, 33);
}

.request_btn {
    border-radius: 20px;
    border: none;
    padding: 5px;
    background-color: #e19221;
    color: white;
    font-family: 'rubikregular';
    -webkit-box-shadow: inset 0px 1px 2px 4px rgba(173, 112, 26, 1);
    -moz-box-shadow: inset 0px 1px 2px 4px rgba(173, 112, 26, 1);
    box-shadow: inset 0px 2px 1px 1px rgba(173, 112, 26, 1);
    cursor: pointer;
}

.nav-meni {
    width: 40%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-list li {
    padding: 10px;
}

.nav-list>li>a {
    text-decoration-line: none;
    color: black;
}

.nav-list>li>a:hover {
    color: rgb(183, 121, 33);
}


/* Quotes (daily) */

.headings {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.headings h5,
abbr {
    margin-top: 30px;
    text-decoration: unset;
    border-bottom: 0.05em solid #e19221;
    font-size: 5vh;
}

.headings blockquote {
    font-size: 2vh;
    padding: 2vh;
}

.headings span {
    align-self: flex-end;
    font-size: 11px;
}